# Dependencies
node_modules/

# Build output
dist/

# Env
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Test coverage
coverage/

# DOC md
UPDATE.md